# GitHub Packages Configuration
# Copy this to .npmrc and add your GitHub token
# DO NOT commit .npmrc with your token!

@loyalteez:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=YOUR_GITHUB_TOKEN_HERE
